# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.pio/libdeps/
.pio/build/
.pio/test/
.pio/package_cache/
.pio/.cache/

.theia

# VSCode
.vscode/

# IntelliJ-based IDEs
.idea/

# MacOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Backup files
*~
*.bak
*.swp

secrets.h
CMakeLists.txt
sdkconfig.esp32dev
build